<footer>
    <div class="navbar navbar-fixed-bottom navbar-default">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="https://twitter.com/RobbieTheGeek">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Linked In</a></li>
                </ul>
            </div>
          	<div class="navbar-header">
                <div class="footer-bar-btns visible-xs">
                    <span>
                        <a href="https://twitter.com/RobbieTheGeek" class="btn" title="Twitter">
                            <i class="fa fa-2x fa-twitter-square"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.facebook.com/robbiethegeek" class="btn" title="Facebook">
                            <i class="fa fa-2x fa-facebook-official"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://github.com/robbiethegeek" class="btn" title="Github">
                            <i class="fa fa-2x fa-github-square"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/in/robbiethegeek" class="btn" title="Linked In">
                            <i class="fa fa-2x fa-linkedin-square"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
